<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <!-- front content -->
      <ion-card class="card-thumbnail tp-box__side tp-box__front">
        <ion-card-header>
          <ion-card-title> card front</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          code: <br>
          name:
        </ion-card-content>
      </ion-card>
    </div>
    <div class="back">
      <!-- back content -->
      <ion-card class="card-thumbnail tp-box__side tp-box__back">
        <ion-card-header>
          <ion-card-title> card back</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          points: <br>
          tier:
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</div>
