<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-item>
        <ion-label position="floating">Your email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-row>
    <br>
    <ion-button expand="block" type="submit">Reset your password</ion-button>
  </ion-grid>
</ion-content>
