ion-card {
  aspect-ratio: 16 / 9;
}

.scene {
  aspect-ratio: 16 / 9;
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {

}

.card__face--back {
  transform: rotateY(180deg);
}

.content {
  font-size: 1.25em;
}

ion-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

.no-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 2em;
  color: var(--ion-color-primary);
}
