<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign up now to {{environment.companyName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="auth.name"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input [(ngModel)]="auth.surname"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Telephone number</ion-label>
        <ion-input [(ngModel)]="auth.telephoneNumber" type="tel"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" ngModel email [(ngModel)]="auth.email"></ion-input>
        <ion-note slot="helper">Enter a valid email</ion-note>
        <ion-note slot="error">Invalid email</ion-note>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="auth.password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Confirm password</ion-label>
        <ion-input type="password" [(ngModel)]="auth.confirm_password"></ion-input>
      </ion-item>
    </ion-row>
    <br>
    <ion-button type="submit" expand="block" (click)="register()">Sign up now</ion-button>
    <ion-button type="submit" fill="clear" expand="block" [routerLink]="['/login']">Log in</ion-button>
  </ion-grid>
</ion-content>
