<app-header-container></app-header-container>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngIf="!isLogged()">
      <ion-item [button]="true" routerLink="../register">
        <ion-label>Registrati</ion-label>
      </ion-item>
      <ion-item [button]="true" routerLink="../login">
        <ion-label>Accedi</ion-label>
      </ion-item>
    </div>

    <!--
    <ion-item [button]="true" [routerLink]="['/']">
      <ion-label>Campagne attuali</ion-label>
    </ion-item>
    -->
    <ion-item [button]="true" [routerLink]="['/']">
      <ion-label>Supporto</ion-label>
    </ion-item>
    <ion-item [button]="true" [routerLink]="['/']">
      <ion-label>Impostazioni</ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="isLogged()">
    <ion-item [button]="true" routerLink="../account">
      <ion-label>Account</ion-label>
    </ion-item>
    <ion-item (click)="logout()" [button]="true">
      <ion-label>Log out</ion-label>
    </ion-item>
  </div>
</ion-content>
