<app-header-container></app-header-container>

<ion-content [fullscreen]="true">
  <app-categories-filter-buttons></app-categories-filter-buttons>

  <!--carte delle campagne-->
  <ion-card class="card-thumbnail" *ngFor="let campaign of campaigns" (click)="openCampaignDetails(campaign)">
    <ion-card-header>
      <!--<ion-avatar><img src={{campaign.logo}} alt=""/></ion-avatar>-->
      <ion-card-title>{{campaign.company}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{campaign.description}}</ion-card-content>
  </ion-card>

  <!--scroll infinito-->
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
