ion-card {
  aspect-ratio: 16/10;
}

ion-toolbar {
  color: var(--ion-color-primary-contrast);
  justify-content: center;
  align-items: center;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.content {
  font-size: 1.25em;
}

.no-content {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  font-size: 2em;
  color: var(--ion-color-primary);
}
